*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
}
#main {
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 1px;
}
#nav{
    width: 100%;
    height: 12vh;
    margin-top: 40px;
    background-color: #f8f8f8;
    border: 2px solid #000;
    border:2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav h2{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #000;
    font-size: 22px;
    font-weight: 500;
    /* background-color: red; */
}
#nav h1{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    position: relative;
}
#nav h1::after{
    content:"©" ;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    top: 30%;
    right: 27%;
}
#nav h1::before{
    content: "Model Management";
    position: absolute;
    font-size: 10px;
    font-weight: 400;
    bottom: 25%;
    left: 43%;
    color: #686868;
}
#nav h2:nth-last-child(2){
    width: 30%;
}

#nav h2:nth-last-child(1){
    width: 10%;
    border-right: none;
}
#center{
    height: 90%;
    width: 100%;
    padding: 5vh;
    position: relative;
    /* background-color: aqua; */
}
#content{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: bisque;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overley{
    height: 52%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
    color: #fff;
    background-color: rgba(10, 10, 10, 0.097);
    backdrop-filter: blur(1px);
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}
#over1 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vw;
    font-weight: 1000;
    mix-blend-mode: difference;
}
#over1 h2{
    font-size: 1vw;
    padding: 1.8vw 2.1vw;
    border-radius: 50%;
    /* background-color: blue; */
    border: 1px solid #fff;
    mix-blend-mode: difference;
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1vw;
}
#over2 h3{
    font-size: 1.3vw;
    font-weight: 600;
    mix-blend-mode: difference;
}
#over2 img{
    height: 4vw;
}
#scrol{
    height: 40vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    /* padding: 1vw;
    background-color: aqua; */

}
#container{
    height: 100%;
    width: 100%;
    display: inline-block;
    padding:1vh;
    /* background-color: aquamarine; */
    animation-name: anime;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#scrol img{
    height: 80%;
    width: 13.5%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin: 1.5vw;   
}

@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#alphabet{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
#alphabet h5{
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 3px;
    border-bottom: 1px solid #000000;
}
#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    border: 1px solid #00000000;
    cursor: pointer;
    transition: ease 0.2s;
}
#alphabet h6:hover{
    border: 1px solid #000;
}
#page2{
    height: 120%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 5vw;
    gap: 2vw;
}
#part1{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1563993297290-609c9406efcd?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#part2 {
    height: 100%;
    width: 46%;
}
#part2 img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    background-position: top;
    object-position: top;
}
#text{
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: normal;
}

#page3{
    height: 200%;
    width: 100%;
    padding: 2vw 5vw;
    background-color: #f8f8f8;
}
#page3>h1{
    font-size: 3vw;
    font-weight: 900;
    /* background-color: red; */
}
#page3img{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 4vw;
}
#circular{
    height: 100%;
    width: 50%;
    /* background-color: rebeccapurple; */
}
#circular img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#img3{
    height: 100%;
    width: 50%;
}
#img3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#bigimg{
    height: 50%;
    width: 100%;
    padding: 2vw 0vw;
    /* background-color: aqua; */
}
#bigimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#page4{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding: 4vw 4vw;

}
#page4>h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 900;
    margin-bottom: 8vh;
}
.elem{
    height: 18vh;
    width: 100%;
    border-top: 2px solid #000;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
}
.elem img{
    height: 80%;
    width: 7%;
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    left: 12%;
    opacity: 0;
    transition: all ease 0.9s;
}
.elem:hover img{
    opacity: 1;
    left: 38%;
}
.elem:hover{
    background-color: rgb(228, 228, 228);
}
.elem:nth-last-child(1){
    border-bottom: 2px solid #000;
    /* background-color: red; */
}
.elem h4{
    font-size: 1.2vw;
    font-weight: 500;
    width: 5%;
}
.elem .elem-txt{
    width: 50%;
}
.elem-txt h1{
    font-size: 2.8vw;
    font-weight: 500;
}
.elem-txt h5 {
    font-size: 1vw;
    font-weight: 500;
    text-transform: uppercase;
}

#page5{
    height: 100%;
    width: 100%;
}
#marque{
    width: 100%;
    /* background-color: aqua; */
    padding: 1vh;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid #000;
    border-bottom: 2PX solid #000;
}
#marque h1{
    display: inline-block;
    font-size: 3vw;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    margin-right: 16px;
    letter-spacing: 2px;
    /* background-color: aquamarine; */
    animation: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes move{
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 20px));
    }
}
#blog{
    height: 89%;
    width: 100%;
    display: flex;
    padding: 4vw;
    gap: 5vw;
}
#blog1{
    height: 80%;
    width: 40%;
    background-color: antiquewhite;
}
#blog1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    /* display: none; */
}
#blog2{
    height: 80%;
    width: 40%;
    /* background-color: antiquewhite; */
}
#blog2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    /* display: none; */
}